<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>React | {{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta property="og:title" content="React | {{ page.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://facebook.github.io/react{{ page.url }}" />
  <meta property="og:image" content="http://facebook.github.io/react/img/logo_og.png" />
  <meta property="og:description" content="A JavaScript library for building user interfaces" />
  <meta property="fb:app_id" content="623268441017527" />

  <link rel="shortcut icon" href="/react/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}{{ site.baseurl }}/feed.xml">

  <link rel="stylesheet" href="/react/css/syntax.css">
  <link rel="stylesheet" href="/react/css/codemirror.css">
  <link rel="stylesheet" href="/react/css/react.css">

  <script type="text/javascript" src="//use.typekit.net/vqa1hcx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!--[if lte IE 8]>
  <script type="text/javascript" src="/react/js/html5shiv.min.js"></script>
  <script type="text/javascript" src="/react/js/es5-shim.min.js"></script>
  <script type="text/javascript" src="/react/js/es5-sham.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/react/js/codemirror.js"></script>
  <script type="text/javascript" src="/react/js/javascript.js"></script>
  <script type="text/javascript" src="/react/js/react.js"></script>
  <script type="text/javascript" src="/react/js/JSXTransformer.js"></script>
  <script type="text/javascript" src="/react/js/live_editor.js"></script>
  <script type="text/javascript" src="/react/js/showdown.js"></script>
</head>
<body>

  <div class="container">

    <div class="nav-main">
      <div class="wrap">
        <a class="nav-home" href="/react/index.html">
          <img class="nav-logo" alt="" src="/react/img/logo_small.png" width="38" height="38">
          React
        </a>
        <ul class="nav-site">
          <li><a href="/react/docs/getting-started.html"{% if page.sectionid == 'docs' or page.sectionid == 'tips' %} class="active"{% endif %}>docs</a></li>
          <li><a href="/react/support.html"{% if page.id == 'support' %} class="active"{% endif %}>support</a></li>
          <li><a href="/react/downloads.html"{% if page.id == 'downloads' %} class="active"{% endif %}>download</a></li>
          <li><a href="/react/blog/"{% if page.sectionid == 'blog' %} class="active"{% endif %}>blog</a></li>
          <li><a href="http://github.com/facebook/react">github</a>
        </ul>
      </div>
    </div>

    {% if page.id == 'home' %}
    <div class="hero">
      <div class="wrap">
        <div class="text"><strong>React</strong></div>
        <div class="minitext">
          A JavaScript library for building user interfaces
        </div>

        <div class="buttons-unit">
          <a href="/react/docs/getting-started.html" class="button">Get Started</a>
          <a href="/react/downloads.html" class="button">Download React v{{site.react_version}}</a>
        </div>
      </div>
    </div>
    {% endif %}

    {{ content }}

    <footer class="wrap">
      <div class="left">
        A Facebook &amp; Instagram collaboration.<br>
        <a href="/react/acknowledgements.html">Acknowledgements</a>
      </div>
      <div class="right">&copy; 2014 Facebook Inc.</div>
    </footer>
  </div>
  <div id="fb-root"></div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41298772-1', 'facebook.github.io');
    ga('send', 'pageview');

    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=623268441017527";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
